<div class="popups popup-large">
    <div class="popup-content-wrapper">
        <div class="content ">

        </div>
    </div>
</div>
<script type="text/javascript">
$(function() {
    var magnificPopup = $.magnificPopup.instance; //
    $('.close-popup').on('click', function() {
        magnificPopup.close();
    });


})
</script>
