<div class="popups popup-large">
    <div class="popup-content-wrapper">
        <a href="#" class="close-popup">X</a>
        <div class="content ">
            <h1 class="title">
               UPLOAD PHOTO
             </h1>
            <p class="upload-subtitle">Hello! You may now upload a photo of your choice. Kindly fill out this form to continue.</p>
            <h1 class="bold">
                Basic Information <span class="asterisk">*</span>
            </h1>
            <div class="forms">
                <form>
                    <input type="text" class="photo-input" placeholder="Photo title">
                    <textarea placeholder="short description" class="description"></textarea>
                    <input type="text" class="photo-input size40p" placeholder="Camera Used">
                    <input type="text" class="photo-input size20p" placeholder="ISO">
                    <input type="text" class="photo-input size20p" placeholder="Aperture">
                    <input type="text" class="photo-input size20p" placeholder="Shutter Speed">
                    <h1 class="bold lbl-category">
                        Select Photo Category <span class="asterisk">*</span>
                    </h1>
                    <div class="category-wrap">
                        <select>
                            <option value=""></option>
                        </select>
                    </div>
                    <h1 class="bold">
                        Attachment<span class="asterisk">*</span>
                    </h1>
                    <div class="choosefile-wrap">
                        <div class="content cf">
                            <div class="btn-wrap">
                                <div class="btn-red">
                                    <a href="#" class="inner">Choose File</a>
                                    <span class="name-cont">Put file name here</span>
                                </div>
                            </div>
                            <div class="desc-wrap">
                                <p>Upload the Web Version of your Photograph</p>
                                <p>Max Upload Size: <strong>3MB</strong> | File Format: <strong>.jpg</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="purpose cf">
                        <div class="lbl-left">
                            <h1 class="bold">
                             This photo is...<span class="asterisk">*</span>
                            </h1>
                        </div>
                        <div class="choices cf">
                            <label>
                                <input type="radio"><span> An entry to the contest</span></label>
                            <label>
                                <input type="radio"><span> For sharing</span></label>
                        </div>
                    </div>
                    <div class="captcha-wrap cf">
                        <div class="captcha-content">
                            <img src="assets/img/captcha-dummy.jpg" alt="">
                        </div>
                    </div>
                    <div class="terms-wrap cf">
                        <label>
                            <input type="checkbox">
                            <span>I agree to the given <strong><a href="#" class="view-reg-terms">Terms &amp; Conditions</a></strong></span>
                        </label>
                    </div>
                    <div class="btn-wrap">
                        <a href="" class="mybtn graystyle subscribeBtn">
                            <span class="upperLayer subscribeBtn">SUBMIT PHOTO</span>
                        </a>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <!-- Contents of second window -->
        <div id ="terms">
                    <div class="popup-content-wrapper">
                        <div class="content ">
                            <h1 class="title">
                                COMPLETE MECHANICS
                             </h1>
                            <div class="scroll-content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore itaque cupiditate blanditiis ratione expedita laborum debitis, nisi? Iusto repellat, perferendis aspernatur architecto fugit aut consequuntur consectetur dolorem, nostrum nisi amet.
                                </p>
                                <br/>
                                <h4 class="subtitle">
                                    I. Lorem Ipsum
                              </h4>
                                <br/>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis laborum sequi alias ea enim. Ab voluptas est perferendis illum nesciunt non quaerat voluptatibus, dicta deleniti ratione error fugit, dolor id!
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore itaque cupiditate blanditiis ratione expedita laborum debitis, nisi? Iusto repellat, perferendis aspernatur architecto fugit aut consequuntur consectetur dolorem, nostrum nisi amet.
                                </p>
                                <br/>
                                <h4 class="subtitle">
                                    I. Lorem Ipsum
                              </h4>
                                <br/>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis laborum sequi alias ea enim. Ab voluptas est perferendis illum nesciunt non quaerat voluptatibus, dicta deleniti ratione error fugit, dolor id!
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore itaque cupiditate blanditiis ratione expedita laborum debitis, nisi? Iusto repellat, perferendis aspernatur architecto fugit aut consequuntur consectetur dolorem, nostrum nisi amet.
                                </p>
                                <br/>
                                <h4 class="subtitle">
                                    I. Lorem Ipsum
                              </h4>
                                <br/>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis laborum sequi alias ea enim. Ab voluptas est perferendis illum nesciunt non quaerat voluptatibus, dicta deleniti ratione error fugit, dolor id!
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore itaque cupiditate blanditiis ratione expedita laborum debitis, nisi? Iusto repellat, perferendis aspernatur architecto fugit aut consequuntur consectetur dolorem, nostrum nisi amet.
                                </p>
                                <br/>
                                <h4 class="subtitle">
                                    I. Lorem Ipsum
                              </h4>
                                <br/>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis laborum sequi alias ea enim. Ab voluptas est perferendis illum nesciunt non quaerat voluptatibus, dicta deleniti ratione error fugit, dolor id!
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore itaque cupiditate blanditiis ratione expedita laborum debitis, nisi? Iusto repellat, perferendis aspernatur architecto fugit aut consequuntur consectetur dolorem, nostrum nisi amet.
                                </p>
                                <br/>
                                <h4 class="subtitle">
                                    I. Lorem Ipsum
                              </h4>
                                <br/>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis laborum sequi alias ea enim. Ab voluptas est perferendis illum nesciunt non quaerat voluptatibus, dicta deleniti ratione error fugit, dolor id!
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore itaque cupiditate blanditiis ratione expedita laborum debitis, nisi? Iusto repellat, perferendis aspernatur architecto fugit aut consequuntur consectetur dolorem, nostrum nisi amet.
                                </p>
                                <br/>
                                <h4 class="subtitle">
                                    I. Lorem Ipsum
                              </h4>
                                <br/>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis laborum sequi alias ea enim. Ab voluptas est perferendis illum nesciunt non quaerat voluptatibus, dicta deleniti ratione error fugit, dolor id!
                                </p>
                            </div>
                        </div>
                    </div><br/>
                    <a href="#" class="hide-terms">GO BACK >></a>
        </div>
</div>

<script type="text/javascript">
$(function() {
    var magnificPopup = $.magnificPopup.instance;

    $('.close-popup').on('click', function() {
        magnificPopup.close();
    });
    $('.scroll-content').slimscroll({
        height: '450px',
        size: '5px',
        distance: '5px',

    });
    $('.view-reg-terms').on('click',function(){
            $('#terms').addClass('show-reg-terms');
    });

    $('.hide-terms').on('click',function(){
                    $('#terms').removeClass('show-reg-terms');

    });


//on ready end
});


</script>
