<div class="image-popup">
    <a href="#" class="close-popup">X</a>
    <div class="image">
        <img class="img-responsive" alt="photo-zoom" src="assets/img/gallery-image/gallry-image-zoom.png" />
    </div>
    <div class="image-description">
            <h3>Senseless Suffering</h3>
       <span class="desc-italic">Captured by: lorem Ipsum</span> <span class="desc-italic">Under: Lorem  ipsum</span><br/>
       <p class="description">
           The question is not, 'Can they reason?' nor, 'Can they talk?' but rather, 'Can they suffer?'
       </p><br/>
       <div class="settings">
            <ul>
                <li>
                    <i class="fa icon-sprite-camera3"></i>
                     <span>Canon PowerShot S95</span>
                </li>
                <li>
                    <i class="fa icon-sprite-eye110"></i>
                     <span>ƒ/5</span>
                </li>
                <li>
                    <i class="fa icon-sprite-photo223"></i>
                     <span>1/1000</span>
                </li>
                <li>
                    <i class="fa icon-sprite-iso10"></i>
                     <span>150</span>
                </li>
            </ul>
       </div>
    </div>
</div>
<script type="text/javascript">
$(function() {
    var magnificPopup = $.magnificPopup.instance; //
    $('.close-popup').on('click', function() {
        magnificPopup.close();
    });
})
</script>
