<div class="popups popup-large">
    <div class="popup-content-wrapper">
        <a href="#" class="close-popup">X</a>
        <div class="content ">
            <h1 class="title">
                TERMS &amp; CONDITIONS
             </h1>
            <div class="scroll-content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore itaque cupiditate blanditiis ratione expedita laborum debitis, nisi? Iusto repellat, perferendis aspernatur architecto fugit aut consequuntur consectetur dolorem, nostrum nisi amet.
                </p>
                <br/>
                <h4 class="subtitle">
                    I. Lorem Ipsum
              </h4>
                <br/>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis laborum sequi alias ea enim. Ab voluptas est perferendis illum nesciunt non quaerat voluptatibus, dicta deleniti ratione error fugit, dolor id!
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore itaque cupiditate blanditiis ratione expedita laborum debitis, nisi? Iusto repellat, perferendis aspernatur architecto fugit aut consequuntur consectetur dolorem, nostrum nisi amet.
                </p>
                <br/>
                <h4 class="subtitle">
                    I. Lorem Ipsum
              </h4>
                <br/>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis laborum sequi alias ea enim. Ab voluptas est perferendis illum nesciunt non quaerat voluptatibus, dicta deleniti ratione error fugit, dolor id!
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore itaque cupiditate blanditiis ratione expedita laborum debitis, nisi? Iusto repellat, perferendis aspernatur architecto fugit aut consequuntur consectetur dolorem, nostrum nisi amet.
                </p>
                <br/>
                <h4 class="subtitle">
                    I. Lorem Ipsum
              </h4>
                <br/>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis laborum sequi alias ea enim. Ab voluptas est perferendis illum nesciunt non quaerat voluptatibus, dicta deleniti ratione error fugit, dolor id!
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore itaque cupiditate blanditiis ratione expedita laborum debitis, nisi? Iusto repellat, perferendis aspernatur architecto fugit aut consequuntur consectetur dolorem, nostrum nisi amet.
                </p>
                <br/>
                <h4 class="subtitle">
                    I. Lorem Ipsum
              </h4>
                <br/>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis laborum sequi alias ea enim. Ab voluptas est perferendis illum nesciunt non quaerat voluptatibus, dicta deleniti ratione error fugit, dolor id!
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore itaque cupiditate blanditiis ratione expedita laborum debitis, nisi? Iusto repellat, perferendis aspernatur architecto fugit aut consequuntur consectetur dolorem, nostrum nisi amet.
                </p>
                <br/>
                <h4 class="subtitle">
                    I. Lorem Ipsum
              </h4>
                <br/>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis laborum sequi alias ea enim. Ab voluptas est perferendis illum nesciunt non quaerat voluptatibus, dicta deleniti ratione error fugit, dolor id!
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore itaque cupiditate blanditiis ratione expedita laborum debitis, nisi? Iusto repellat, perferendis aspernatur architecto fugit aut consequuntur consectetur dolorem, nostrum nisi amet.
                </p>
                <br/>
                <h4 class="subtitle">
                    I. Lorem Ipsum
              </h4>
                <br/>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis laborum sequi alias ea enim. Ab voluptas est perferendis illum nesciunt non quaerat voluptatibus, dicta deleniti ratione error fugit, dolor id!
                </p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(function() {
    var magnificPopup = $.magnificPopup.instance; //
    $('.close-popup').on('click', function() {
        magnificPopup.close();
    });
    $('.scroll-content').slimscroll({
        height: '450px',
        size: '5px',
        distance: '5px',

    });
})
</script>
